* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Monoton', cursive;
}

.nav {
	width: 100%;
	height: 70px;
	background-color: #1E254A;
}
.nav i {
	font-size: 130%;
	color: #D6FFF6;
}

.closeBtn {s
	background-color: #D6FFF6;
	width: 100%;
	height: 50px;
	color: #D6FFF6;
	margin-top: -25px;

}


.closeBtn a {
	color: #ffffff;
	margin: 0 auto;
	float: left;
	font-size: 250%;
	padding: 0 10px 0 10px;
}
.closeBtn a:hover {
	transition: 0.5s;
	color: #FFFAF0;
}
.menu {
	display: block;
	margin-left: 15px;
	margin-top: 10px;
	font-size: 200%;
	max-height: 40px;
	max-width: 40px;
	float: left;

}
.menu i {
	margin-top: 5px;
	color: #4DCCBD;
}



.logo {

	margin: 0 auto;

}

.nav ul {
	display: block;
	list-style: none;
}
.nav ul li {
	display: inline;
	float: right;
	margin: 5px 10px 5px 10px;
	padding: 10 10px 10 10px;
	height: 60px;
	
	width: 60px;
	position: relative;
}
.nav ul li a {

	text-decoration: none;
	list-style: none;
	line-height: 60px;
	color: #FFFAF0;

}
.dropdown:hover{
	transition: 0.5s;
	background-color: #FF8484;
	border-radius: 100%;
	
}
.dropdown-2 i:hover{
	transition: 0.3s;
	color: #FF8484;

}
.dropdown-2 i {
	color: #4DCCBD;
	font-size: 250%;
	position: absolute;
	top: 17%;
	left: 17%;
}

.dropdown i {
	color: #4DCCBD;
	font-size: 250%;
	position: absolute;
	top: 17%;
	left: 17%;
}
.dropdown i:hover {
	color: white;
}

.subnav-mobile {
	display: none;
}

.main {
	height: 400vh;
	background-color: #1E254A;
	width: 100%;
	overflow: hidden;
	margin-top: -20px;
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #D6FFF6;
    overflow: hidden;
    overflow-y: scroll;
    transition: 0.8s;
}

.overlayP {
    height: 100%;
    display: none;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1E254A;
    overflow: hidden;

    transition: 0.8s;
}
.contact {

	border-radius: 0 100px 100px 0;
	display: none;
	 margin: 0;
	 height: 100px;
	 line-height: 100px;
	 width: 85vw;
	 background-color: #1E254A;
}
.contact h2 {
	width: 100vw;
	font-size: 30px;
	height: 100px;
	margin: 0 auto;
	visibility: show;
	line-height: 100px;
	text-align: center;
	color: #FF8484;
	font-family: 'Dosis', sans-serif;

}
.about {
	float: right;
	border-radius: 100px 0 0 100px;
	display: none;
	 margin: 0;
	 height: 100px;
	 line-height: 100px;
	 width: 85vw;
	 background-color: #FF8484;
	 overflow: hidden;
	 visibility: show;
}
.projects {
	margin: 0 auto;
	border-radius: 100px 100px 100px 100px;
	display: none;
	 height: 100px;
	 line-height: 100px;
	 width: 65vw;
	 background-color: #4DCCBD;
	 overflow: hidden;
	 visibility: show;
	}

.about h2 {
	float: left;
	padding: 10px 0 10px 25px;
	font-size: 2vw;
	height: 20px;
	line-height: 35px;
	color: #D6FFF6;
	 visibility: show;
	 text-align: center;
	 font-family: 'Dosis', sans-serif;
}
.projects i {
	font-size: 70%;

}
.projects h2 {
	padding: 10px 0 0 10px;
	font-size: 2vw;
	height: 20px;
	line-height: 30px;
	color:  #D6FFF6;
	 visibility: show;
	 text-align: center;
	 font-family: 'Dosis', sans-serif;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 0;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-row-gap: 20px;
}

.overlay-contentP {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
	display: grid;
	grid-template-rows:  1fr ;
	background-color: #1E254A;
	
}


.overlayP a {
	color: #FF8484;
    padding: 8px;
    text-decoration: none;
	list-style: none;
    font-size: 4vw;
    display: block;
    transition: 0.5s;
	text-align: center;
	vertical-align: middle;
}

.overlay a {
	color: inherit;
    padding: 8px;
    text-decoration: none;
	list-style: none;
    font-size: 4vw;
    display: block;
    transition: 0.5s;
	text-align: center;
	vertical-align: middle;
}

.overlay-item-1 {
	border-radius: 100px 0 0 100px;
	background-color: #FF8484;
	color: #D6FFF6;
	margin: 0 0 0 25px;
	height: 100px;
	line-height: 100px;
	-webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
}
.overlay-1-big {
	grid-template-rows: 3fr 1fr 1fr;
	height: 300px;
	line-height: 300px;
}
.overlay-2-big {
	grid-template-rows: 1fr 3fr 1fr;
	height: 300px;
	line-height: 300px;
}
.overlay-3-big {
	grid-template-rows: 1fr 1fr 3fr;
	height: 300px;
	line-height: 300px;
}

.overlay-item-2 {
	border-radius: 100px;
	background-color: #4DCCBD;
	color: #1E254A;
	margin: 0 25px 0 25px;
	height: 100px;
	line-height: 100px;
	-webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
}
.overlay-item-3 {
	border-radius: 0 100px 100px 0;
	background-color: #1E254A;
	color: #4DCCBD;
	margin: 0 25px 0 0;
	height: 100px;
	line-height: 100px;
	-webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);

}
.overlay-contact {
	width: 100px;
	height: 50px;
	background-color: #D6FFF6;
	border-radius: 500px 500px 500px 500px;
	position: absolute;
}
.overlay-wide {
	height: 300px;
	line-height: 300px;
}
.overlay-item-p {
	font-size: 150px;
	border-radius: 500px;
	background-color: #D6FFF6;
	color: #1E254A;
	margin: 0 auto;
	height: 500px;
	width: 500px;
	display: block;
	align-content: center;
	line-height: 500px;
	-webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
}
.overlay-item-p h1 {
	font-size: 42px;
}

.overlay-item-p a {
	margin-left: -20px;
	font-size: 35vh;
	color: #1E254A;

}

.overlay a:hover, .overlay a:focus {
    opacity: 0.5;
}

.overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 35px;
    font-size: 60px;
	color: #4DCCBD;

}
.overlay-1-float,
.overlay-2-float,
.overlay-3-float  {
	top: 0;
	line-height: 100px;
}



.grid-rabbit {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 100vh;
	height: 100vh;
	overflow: hidden;
	width: 100vw;
	grid-column-gap: 2vw;
}
.grid-rabbit-item-1 {
	background-color: #D6FFF6;
	margin-top: 50px;
	border-radius: 0 500px 0 0;
	position: relative;
	transition: 0.8s;
	transition-timing-function: ease-in-out;

}
.grid-rabbit-item-1 a{
	margin-top: 75px;
	position: absolute;
	color: #1E254A;
	font-size: 5vw;
	text-decoration: none;
	list-style: none;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.grid-rabbit-item-1:hover {
		border-radius: 15px 15px 0 0;
		margin-top: 50px;
		transition: 0.5s;
}
.grid-rabbit-item-1 p,
.grid-rabbit-item-2 p,
.grid-rabbit-item-3 p,
.grid-rabbit-item-4 p,
.grid-rabbit-item-5 p,
.grid-rabbit-item-6 p,
.grid-rabbit-item-7 p {
	color: #1E254A;
	font-size: 2vw;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	padding-top: 160px;
}

.text-rabbit-1,
.text-rabbit-2,
.text-rabbit-3,
.text-rabbit-4,
.text-rabbit-5,
.text-rabbit-6,
.text-rabbit-7 {
	writing-mode: vertical-rl;
	text-orientation: upright;
	padding: 10px;
}


.grid-rabbit-item-1 a:hover,
.grid-rabbit-item-7 a:hover{
	color: #FF8484;
}
.grid-rabbit-item-2 {
	background-color: #4DCCBD;
	margin-top: 125px;
	border-radius: 500px 500px 0 0;
	position: relative;
	transition: 0.8s;
	transition-timing-function: ease-in-out;

}
.grid-rabbit-item-2 a{
	margin-top: 75px;
	position: absolute;
	color: #1E254A;
	font-size: 5vw;
	text-decoration: none;
	list-style: none;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.grid-rabbit-item-2 a:hover,
.grid-rabbit-item-6 a:hover{
	color: #D6FFF6;
}
.grid-rabbit-item-2:hover {
		border-radius: 15px 15px 0 0;
		margin-top: 50px;
		transition: 0.5s;
}
.grid-rabbit-item-3 {
	background-color: #FF8484;
	margin-top: 175px;
	border-radius: 500px 500px 0 0;
	position: relative;
	transition: 0.8s;
	transition-timing-function: ease-in-out;
}
.grid-rabbit-item-3:hover {
		border-radius: 15px 15px 0 0;
		margin-top: 50px;
		transition: 0.5s;
}
.grid-rabbit-item-3 a{
	margin-top: 75px;
	position: absolute;
	color: #1E254A;
	font-size: 5vw;
	text-decoration: none;
	list-style: none;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.grid-rabbit-item-3 a:hover,
.grid-rabbit-item-5 a:hover{
	color: #4DCCBD;
}
.grid-rabbit-item-4 {
	background-color: #D6FFF6;
	margin-top: 225px;
	border-radius: 500px 500px 0 0;
	position: relative;
	
	

}

.grid-rabbit-item-4 a{
	margin-top: 75px;
	position: absolute;
	color: #1E254A;
	font-size: 5vw;
	text-decoration: none;
	list-style: none;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.grid-rabbit-item-4 a:hover{
	color: #FF8484;
}
.grid-rabbit-item-4:hover {
		border-radius: 15px 15px 0 0;
		margin-top: 50px;
		transition: 0.5s;
		transition-timing-function: ease;
}
.grid-rabbit-item-5 {
	background-color: #FF8484;
	margin-top: 175px;
	border-radius: 500px 500px 0 0;
	position: relative;
	transition: 0.8s;
	transition-timing-function: ease-in-out;
	overflow:hidden;

}
.grid-rabbit-item-5:hover {
		border-radius: 15px 15px 0 0;
		margin-top: 50px;
		transition: 0.5s;
}
.grid-rabbit-item-5 a{
	margin-top: 75px;
	position: absolute;
	color: #1E254A;
	font-size: 5vw;
	text-decoration: none;
	list-style: none;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.grid-rabbit-item-6 {
	background-color: #4DCCBD;
	margin-top: 125px;
	border-radius: 500px 500px 0 0;
	position: relative;
	transition: 0.8s;
	transition-timing-function: ease-in-out;

}
.grid-rabbit-item-6:hover {
		border-radius: 15px 15px 0 0;
		margin-top: 50px;
		transition: 0.5s;
}
.grid-rabbit-item-6 a{
	margin-top: 75px;
	position: absolute;
	color: #1E254A;
	font-size: 5vw;
	text-decoration: none;
	list-style: none;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.grid-rabbit-item-7 {
	background-color: #D6FFF6;
	margin-top: 50px;
	border-radius: 500px 0 0 0;
	position: relative;
	transition: 0.8s;
	transition-timing-function: ease-in-out;

}
.grid-rabbit-item-7:hover {
		border-radius: 15px 15px 0 0;
		margin-top: 50px;
		transition: 0.5s;

}
.grid-rabbit-item-7 a{
	margin-top: 75px;
	position: absolute;
	color: #1E254A;
	font-size: 5vw;
	text-decoration: none;
	list-style: none;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.rabbit-1-text,
.rabbit-5-text,
.rabbit-6-text,
.rabbit-7-text,
.rabbit-4-text,
.rabbit-2-text,
.rabbit-3-text {
	display: none;
	margin-top: 10px;
	height: 500px;
	width: 100%;
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
}
.rabbit-1-text h1,
.rabbit-6-text h1,
.rabbit-5-text h1,
.rabbit-7-text h1,
.rabbit-4-text h1,
.rabbit-2-text h1,
.rabbit-3-text h1{
	font-size: 1em;
	padding: 10px;
	color: #1E254A;
	
}
.rabbit-1-text h3,
.rabbit-6-text h3,
.rabbit-5-text h3,
.rabbit-7-text h3,
.rabbit-4-text h3,
.rabbit-2-text h3,
.rabbit-3-text h3 {
	font-family: 'Dosis', sans-serif;
	color: #1E254A;
	padding: 0 20px 0 20px;
	
}
.rabbit-1-text h4,
.rabbit-6-text h4,
.rabbit-5-text h4,
.rabbit-7-text h4,
.rabbit-4-text h4,
.rabbit-2-text h4,
.rabbit-3-text h4 {
	font-family: 'Dosis', sans-serif;
	color: #1E254A;
	padding: 15px;
	text-align: justify;
	
}

.rabbit-4-text i {
	color: #FF8484;
	font-size: 5vw;

	text-align: center;
}
.rabbit-2-text i {
	color: #D6FFF6;
	font-size: 5vw;
	text-align: center;
}
.rabbit-3-text i {
	color: #4DCCBD;
	font-size: 5vw;
	text-align: center;
}
.rabbit-7-text i {
	color: #FF8484;
	font-size: 5vw;
	text-align: center;
}
.rabbit-5-text i {
	color: #4DCCBD;
	font-size: 5vw;
	text-align: center;
}
.rabbit-6-text i {
	color: #D6FFF6;
	font-size: 5vw;
	text-align: center;

}
.rabbit-1-text i {
	color: #FF8484;
	font-size: 5vw;
	text-align: center;

}



.lock:hover .fa-rocket:before {
    content: "\f753";
    color: #FF8484;
    transition: ;
}


/* MAZE */

.grid-maze {
	border-top: 8px solid #D6FFF6;
	display: grid;
	grid-template-areas:
	"11 21 31 41 51 61 71"
	"12 22 32 42 52 62 72"
	"13 23 33 43 53 63 73"
	"14 24 34 44 54 64 74"
	"15 25 35 45 56 65 75"
	"16 26 36 46 56 66 76"
	"17 27 37 47 57 67 77";

	height: auto;
	width: 100vw;
	overflow: hidden;
	background-color: #1E254A;
	z-index: 0;
	position: relative;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 0.915fr 1fr 1fr 1fr;




}

	.maze-11 {
	grid-area: "11";
	background-color: #1E254A;
	margin-left: 0;

	 }
	.maze-21 {
	grid-area: "21";
	background-color: #1E254A;
}
	.maze-31 {
	grid-area: "31";
	background-color: #1E254A; }
	.maze-41 {
	grid-area: "41";
	background-color: #D6FFF6; }
	.maze-51 {
	grid-area: "51";
	background-color: #D6FFF6;
	position: relative;
	z-index: 1;
	 }
	 .overlap-51 {
		position: absolute;
		background-color: #1E254A;
		border-radius: 0 0 0 25px;
		z-index: 2;
		width: 100%;
		height: 100%;
	}
	.maze-61 {
	grid-area: "61";
	background-color: #1E254A; }
	.maze-71 {
	grid-area: "71";
	background-color: #1E254A; 
	margin-right: 0;}

	.maze-12 {
	grid-area: "12";
	background-color: #1E254A; 
}
	.maze-22 {
	grid-area: "22";
	background-color: #4DCCBD;
	border-radius: 0 100% 100% 100%; 
}
	.maze-32 {
	grid-area: "32";
	background-color: #1E254A; }
	.maze-42 {
	grid-area: "42";
	background-color: #D6FFF6;
	border-radius: 0 0 0 25px ;
	 }
	 .maze-42,
	 .maze-52,
	 .maze-62,
	 .maze-63,
	 .maze-64,
	 .maze-54,
	 .maze-34,
	 .maze-44,
	 .maze-24,
	 .maze-25,
	 .maze-26,
	 .maze-36,
	 .maze-46,
	 .maze-56,
	 .maze-66,
	 .maze-41,
	 .maze-22,
	 .maze-47  {
	 	color: #1E254A;
	 	text-align: center;
	 	vertical-align: middle;
	 	line-height: 14.28vw;
	 	font-size: 8vh;
	 }
	.maze-52 {
	grid-area: "52";
	background-color: #D6FFF6;
	 }
	.maze-62 {
	grid-area: "62";
	background-color: #D6FFF6;
	border-radius: 0 25px 0 0 ; }
	.maze-72 {
	grid-area: "72";
	background-color: #1E254A; }

	.maze-13 {
	grid-area: "13";
	background-color: #1E254A; }
	.maze-23 {
	grid-area: "23";
	background-color: #1E254A; }
	.maze-33 {
	grid-area: "33";
	background-color: #1E254A; }
	.maze-43 {
	grid-area: "43";
	background-color: #1E254A; }
	.maze-53 {
	grid-area: "53";
	background-color: #D6FFF6; 
	
	position: relative;
	z-index: 1;}

	.overlap-53 {
		position: absolute;
		background-color: #1E254A;;
		border-radius: 0 25px 25px 0;
		z-index: 2;
		width: 100%;
		height: 100%;
	}



	.maze-63 {
	grid-area: "63";
	background-color: #D6FFF6; }
	.maze-73 {
	grid-area: "73";
	background-color: #1E254A; }

	.maze-14 {
	grid-area: "14";
	background-color: #1E254A;
	 }
	.maze-24 {
	grid-area: "24";
	background-color: #D6FFF6;
	border-radius: 25px 0 0 0 ;
	  }
	.maze-34 {
	grid-area: "34";
	background-color: #D6FFF6;
	}
	.maze-44 {
	grid-area: "44";
	background-color: #D6FFF6;
	border-radius: 0 0 0 0 ; }
	.maze-54 {
	grid-area: "54";
	background-color: #D6FFF6; }
	.maze-64 {
	grid-area: "64";
	background-color: #D6FFF6;
	border-radius: 0 0 25px 0 ; }
	.maze-74 {
	grid-area: "74";
	background-color: #1E254A; }

	.maze-15 {
	grid-area: "15";
	background-color: #1E254A; }
	.maze-25 {
	grid-area: "25";
	background-color: #D6FFF6; }
	.maze-35 {
	grid-area: "35";
	background-color: #D6FFF6;;
	position: relative;
	z-index: 1; }
	.overlap-35 {
		position: absolute;
		background-color: #1E254A;
		border-radius: 25px 0 0 25px;
		z-index: 2;
		width: 100%;
		height: 100%;
	}
	.maze-45 {
	grid-area: "45";
	background-color: #1E254A; }
	.maze-55 {
	grid-area: "55";
	background-color: #1E254A; }
	.maze-65 {
	grid-area: "65";
	background-color: #1E254A; }
	.maze-75 {
	grid-area: "75";
	background-color: #1E254A; }

	.maze-16 {
	grid-area: "16";
	background-color: #1E254A;	 }
	.maze-26 {
	grid-area: "26";
	background-color: #D6FFF6;
	border-radius: 0 0 0 25px ; }
	.maze-36 {
	grid-area: "36";
	background-color: #D6FFF6;
	}
	.maze-46 {
	grid-area: "46";
	background-color: #D6FFF6; 
border-radius: 0 25px 0 0;}
	.maze-56 {
	grid-area: "56";
	background-color: #1E254A; }
	.maze-66 {
	grid-area: "66";
	border-radius: 500px 500px 0 500px;
	background-color: #FF8484;
	 }
	.maze-76 {
	grid-area: "76";
	background-color: #1E254A; }

		.maze-17 {
	grid-area: "16";
	background-color: #1E254A;	 }
	.maze-27 {
	grid-area: "26";
	background-color:  #1E254A;
	 }
	.maze-37 {
	grid-area: "36";
	background-color:  #D6FFF6;
	position: relative;
	z-index: 1;
	}
	.overlap-37 {
			position: absolute;
		background-color: #1E254A;
		border-radius: 0 25px 0 0;
		z-index: 2;
		width: 100%;
		height: 100%;
	}
	.maze-47 {
	grid-area: "46";
	background-color: #D6FFF6; 
}
	.maze-57 {
	grid-area: "56";
	background-color: #1E254A; }
	.maze-67 {
	grid-area: "66";
	background-color:  #1E254A;
	 }
	.maze-77 {
	grid-area: "76";
	background-color: #1E254A; }

.rabbit-1 {
	grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.rabbit-2 {
	grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
}
.rabbit-3 {
	grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr 1fr;
}
.rabbit-4 {
	grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
}
.rabbit-5 {
	grid-template-columns: 1fr 1fr 1fr 1fr 3fr 1fr 1fr;
}
.rabbit-6 {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3fr 1fr;
}
.rabbit-7 {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
}

.p-o {
	writing-mode:;
}
.text-o {
	text-orientation: mixed;
	writing-mode: horizontal-tb;
}

.maze-42 i,
.maze-64 i,
.maze-24 i,
.maze-46 i{
	color: #FF8484;
}
.maze-62 i,
.maze-44 i,
.maze-26 i {
	color: #4DCCBD;
}

.noDisplay {
	display: block;
}
.grid-projects {
	display: grid;
	grid-template-columns: 1fr 20fr 1fr;
	grid-template-rows: 100vh;
	height: 100vh;
	width: 100%;
	background-color: #1E254A;
	border-radius: 0;

 
}
.grid-projects-item-1 {

}
.grid-projects-item-2 {
	background-color: #D6FFF6;
	border-radius: 50px;
}
.grid-projects-item-2 {
	
}

/* MEDIAS QUERIES */
/* MEDIAS QUERIES */
/* MEDIAS QUERIES */
/* MEDIAS QUERIES */
/* MEDIAS QUERIES */

@media only screen and (max-width: 700px)  {
	.grid-rabbit {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 0.915fr 1fr 1fr 1fr;
	grid-template-rows: 150vh;
	height: 150vh;
	overflow: hidden;
	width: 100vw;
	grid-column-gap: 2vw;
	}
	.grid-maze {
		width: 100vw;
		grid-template-columns: 1fr 1fr 1fr 0.915fr 1fr 1fr 1fr;
	}
	.maze-42 i,
	 .maze-52 i,
	 .maze-62 i,
	 .maze-63 i,
	 .maze-64 i,
	 .maze-54 i,
	 .maze-34 i,
	 .maze-44 i,
	 .maze-24 i,
	 .maze-25 i,
	 .maze-26 i,
	 .maze-36 i,
	 .maze-46 i,
	 .maze-47 i,
	 .maze-56 i,
	 .maze-66 i,
	 .maze-41 i,
	 .maze-12 i,
	 .maze-22 i {

	 	text-align: center;
	 	vertical-align: middle;
	 	line-height: 14.28vw;
	 	font-size: 25px;
	 }
.grid-rabbit-item-1 p,
.grid-rabbit-item-2 p,
.grid-rabbit-item-3 p,
.grid-rabbit-item-4 p,
.grid-rabbit-item-5 p,
.grid-rabbit-item-6 p,
.grid-rabbit-item-7 p

{ 
		font-size: 4vw;
}


.rabbit-1-text h1,
.rabbit-6-text h1,
.rabbit-5-text h1,
.rabbit-7-text h1,
.rabbit-4-text h1,
.rabbit-2-text h1,
.rabbit-3-text h1{
	font-size: 3vw;
	padding: 5px;
	color: #1E254A;
	
}
.rabbit-1-text h3,
.rabbit-6-text h3,
.rabbit-5-text h3,
.rabbit-7-text h3,
.rabbit-4-text h3,
.rabbit-2-text h3,
.rabbit-3-text h3 {
	font-size: 2.5vw;
	font-family: 'Dosis', sans-serif;
	color: #1E254A;
	padding: 0 10px 5px 10px;
	
}

	


	 .overlay-item-p {
	font-size: 50px;
	border-radius: 500px;
	background-color: #D6FFF6;
	color: #1E254A;
	margin: 0 auto;
	height: 250px;
	width: 250px;
	align-content: center;
	line-height: 250px;
	-webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	}
	.overlay-item-p a {
		font-size: 18vh;
	}
	.contact,
	.about,
	.projects {
		
		width: 75vw;

	}
	.contact h2 {
	font-size: 3vw;
	text-align: center;
	vertical-align: middle;
	padding: 25px;
	}
	.about h2 {
		margin: 10px;
	height: 15px;
	line-height: 15px;
	font-size: 3vw;
	text-align: center;
	vertical-align: middle;
	padding: 25px;
	}
	.projects h2{
		margin: 10px;
	height: 15px;
	line-height: 15px;
	font-size: 3vw;
	text-align: center;
	vertical-align: middle;
	padding: 25px;

	}


}