* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Monoton', cursive;
}

.nav {
	width: 100%;
	height: 70px;
	background-color: #1E254A;
}
.nav i {
	font-size: 130%;
	color: #D6FFF6;
}

.closeBtn {s
	background-color: #D6FFF6;
	width: 100%;
	height: 50px;
	color: #D6FFF6;
	margin-top: -25px;

}


.closeBtn a {
	color: #ffffff;
	margin: 0 auto;
	float: left;
	font-size: 250%;
	padding: 0 10px 0 10px;
}
.closeBtn a:hover {
	transition: 0.5s;
	color: #FFFAF0;
}
.menu {
	display: block;
	margin-left: 15px;
	margin-top: 10px;
	font-size: 200%;
	max-height: 40px;
	max-width: 40px;
	float: left;

}
.menu i {
	margin-top: 5px;
	color: #4DCCBD;
}



.logo {

	margin: 0 auto;

}

.nav ul {
	display: block;
	list-style: none;
}
.nav ul li {
	display: inline;
	float: right;
	margin: 5px 10px 5px 10px;
	padding: 10 10px 10 10px;
	height: 60px;
	border-radius: 100%;
	width: 60px;
	position: relative;
}
.nav ul li a {

	text-decoration: none;
	list-style: none;
	line-height: 60px;
	color: #FFFAF0;

}
.nav ul li:hover{
	transition: 0.5s;
	background-color: #FF8484;
	border-radius: 100%;
}
.nav ul li:hover a{
	transition: 0.5s;
	color: #D6FFF6;
	border-radius: 100%;
}
.dropdown i {
	color: #4DCCBD;
	font-size: 250%;
	position: absolute;
	top: 17%;
	left: 17%;
}
.dropdown i:hover {
	color: white;
}

.subnav-mobile {
	display: none;
}

.main {
	height: 300vh;
	background-color: #1E254A;
	width: 100%;
	overflow: hidden;
	margin-top: -20px;
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #D6FFF6;
    overflow: hidden;
    overflow-y: scroll;
    transition: 0.8s;
}

.overlayP {
    height: 100%;
    display: none;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1E254A;
    overflow: hidden;
    overflow-y: scroll;
    transition: 0.8s;
}


.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-row-gap: 20px;
}

.overlay-contentP {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
	display: grid;
	grid-template-rows:  1fr ;
	background-color: #1E254A;
	
}

.overlayP a {
	color: #FF8484;
    padding: 8px;
    text-decoration: none;
	list-style: none;
    font-size: 4vw;
    display: block;
    transition: 0.5s;
	text-align: center;
	vertical-align: middle;
}

.overlay a {
	color: inherit;
    padding: 8px;
    text-decoration: none;
	list-style: none;
    font-size: 4vw;
    display: block;
    transition: 0.5s;
	text-align: center;
	vertical-align: middle;
}

.overlay-item-1 {
	border-radius: 100px 0 0 100px;
	background-color: #FF8484;
	color: #D6FFF6;
	margin: 0 0 0 25px;
	height: 100px;
	line-height: 100px;
	-webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
}
.overlay-item-2 {
	border-radius: 100px;
	background-color: #4DCCBD;
	color: #1E254A;
	margin: 0 25px 0 25px;
	height: 100px;
	line-height: 100px;
	-webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
}
.overlay-item-3 {
	border-radius: 0 100px 100px 0;
	background-color: #1E254A;
	color: #4DCCBD;
	margin: 0 25px 0 0;
	height: 100px;
	line-height: 100px;
	-webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);

}

.overlay-item-p {
	font-size: 150px;
	border-radius: 500px;
	background-color: #D6FFF6;
	color: #1E254A;
	margin: 0 auto;
	height: 500px;
	width: 500px;
	display: block;
	align-content: center;
	line-height: 500px;
	-webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
}
.overlay-item-p h1 {
	font-size: 42px;
}

.overlay-item-p a {
	font-size: 35vh;
}
.overlay a:hover, .overlay a:focus {
    opacity: 0.5;
}

.overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 35px;
    font-size: 60px;
	color: #4DCCBD;

}





.grid-rabbit {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 150vh;
	height: 150vh;
	overflow: hidden;
	width: 100vw;
	grid-column-gap: 3vw;
}
.grid-rabbit-item-1 {
	background-color: #D6FFF6;
	margin-top: 50px;
	border-radius: 0 500px 0 0;
	position: relative;
	transition: 0.8s;
	transition-timing-function: ease-in-out;

}
.grid-rabbit-item-1 a{
	margin-top: 75px;
	position: absolute;
	color: #1E254A;
	font-size: 5vw;
	text-decoration: none;
	list-style: none;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.grid-rabbit-item-1:hover {
		border-radius: 15px;
		margin-top: 50px;
		transition: 0.5s;
}
.grid-rabbit-item-1 p,
.grid-rabbit-item-2 p,
.grid-rabbit-item-3 p,
.grid-rabbit-item-4 p,
.grid-rabbit-item-5 p,
.grid-rabbit-item-6 p,
.grid-rabbit-item-7 p

 {

	color: #1E254A;
	font-size: 3vw;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	padding-top: 160px;
	writing-mode: vertical-rl;
	text-orientation: upright;
}
.grid-rabbit-item-1 a:hover,
.grid-rabbit-item-7 a:hover{
	color: #FF8484;
}
.grid-rabbit-item-2 {
	background-color: #4DCCBD;
	margin-top: 125px;
	border-radius: 500px 500px 0 0;
	position: relative;
	transition: 0.8s;
	transition-timing-function: ease-in-out;

}
.grid-rabbit-item-2 a{
	margin-top: 75px;
	position: absolute;
	color: #1E254A;
	font-size: 5vw;
	text-decoration: none;
	list-style: none;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.grid-rabbit-item-2 a:hover,
.grid-rabbit-item-6 a:hover{
	color: #D6FFF6;
}
.grid-rabbit-item-2:hover {
		border-radius: 15px;
		margin-top: 50px;
		transition: 0.5s;
}
.grid-rabbit-item-3 {
	background-color: #FF8484;
	margin-top: 175px;
	border-radius: 500px 500px 0 0;
	position: relative;
	transition: 0.8s;
	transition-timing-function: ease-in-out;
}
.grid-rabbit-item-3:hover {
		border-radius: 15px;
		margin-top: 50px;
		transition: 0.5s;
}
.grid-rabbit-item-3 a{
	margin-top: 75px;
	position: absolute;
	color: #1E254A;
	font-size: 5vw;
	text-decoration: none;
	list-style: none;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.grid-rabbit-item-3 a:hover,
.grid-rabbit-item-5 a:hover{
	color: #4DCCBD;
}
.grid-rabbit-item-4 {
	background-color: #D6FFF6;
	margin-top: 225px;
	border-radius: 500px 500px 0 0;
	position: relative;
	transition: 0.8s;
	transition-timing-function: ease-in-out;
	

}

.grid-rabbit-item-4 a{
	margin-top: 75px;
	position: absolute;
	color: #1E254A;
	font-size: 5vw;
	text-decoration: none;
	list-style: none;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.grid-rabbit-item-4 a:hover{
	color: #FF8484;
}
.grid-rabbit-item-4:hover {
		border-radius: 15px;
		margin-top: 50px;
		transition: 0.5s;
		transition-timing-function: ease;
}
.grid-rabbit-item-5 {
	background-color: #FF8484;
	margin-top: 175px;
	border-radius: 500px 500px 0 0;
	position: relative;
	transition: 0.8s;
	transition-timing-function: ease-in-out;
	overflow:hidden;

}
.grid-rabbit-item-5:hover {
		border-radius: 15px;
		margin-top: 50px;
		transition: 0.5s;
}
.grid-rabbit-item-5 a{
	margin-top: 75px;
	position: absolute;
	color: #1E254A;
	font-size: 5vw;
	text-decoration: none;
	list-style: none;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.grid-rabbit-item-6 {
	background-color: #4DCCBD;
	margin-top: 125px;
	border-radius: 500px 500px 0 0;
	position: relative;
	transition: 0.8s;
	transition-timing-function: ease-in-out;

}
.grid-rabbit-item-6:hover {
		border-radius: 15px;
		margin-top: 50px;
		transition: 0.5s;
}
.grid-rabbit-item-6 a{
	margin-top: 75px;
	position: absolute;
	color: #1E254A;
	font-size: 5vw;
	text-decoration: none;
	list-style: none;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.grid-rabbit-item-7 {
	background-color: #D6FFF6;
	margin-top: 50px;
	border-radius: 500px 0 0 0;
	position: relative;
	transition: 0.8s;
	transition-timing-function: ease-in-out;

}
.grid-rabbit-item-7:hover {
		border-radius: 15px;
		margin-top: 50px;
		transition: 0.5s;

}
.grid-rabbit-item-7 a{
	margin-top: 75px;
	position: absolute;
	color: #1E254A;
	font-size: 5vw;
	text-decoration: none;
	list-style: none;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.rabbit-1-text,
.rabbit-5-text,
.rabbit-6-text,
.rabbit-7-text,
.rabbit-4-text,
.rabbit-2-text,
.rabbit-3-text {
	display: none;
	margin-top: 50px;
	height: 500px;
	width: 100%;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;

}
.rabbit-1-text h1,
.rabbit-6-text h1,
.rabbit-5-text h1,
.rabbit-7-text h1,
.rabbit-4-text h1,
.rabbit-2-text h1,
.rabbit-3-text {
	padding: 5px 0 5px 0;
	color: #1E254A;
	
}
.rabbit-1-text h3,
.rabbit-6-text h3,
.rabbit-5-text h3,
.rabbit-7-text h3,
.rabbit-4-text h3,
.rabbit-2-text h3,
.rabbit-3-text h3, {
	color: #1E254A;
	
}

.rabbit-4-text i {
	color: #FF8484;
	font-size: 5vw;

	text-align: center;
}
.rabbit-2-text i {
	color: #D6FFF6;
	font-size: 5vw;

	text-align: center;
}
.rabbit-3-text i {
	color: #4DCCBD;
	font-size: 5vw;

	text-align: center;
}
.rabbit-7-text i {
	color: #FF8484;
	font-size: 5vw;

	text-align: center;
}
.rabbit-5-text i {
	color: #4DCCBD;
	font-size: 5vw;

	text-align: center;
}
.rabbit-6-text i {
	color: #D6FFF6;
	font-size: 5vw;

	text-align: center;

}
.rabbit-1-text i {
	color: #FF8484;
	font-size: 5vw;

	text-align: center;

}

/* MEDIAS QUERIES */
@media only screen and (max-width: 700px)  {
	.grid-rabbit {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 0.915fr 1fr 1fr 1fr;
	grid-template-rows: 100vh;
	height: 90vh;
	overflow: hidden;
	width: 100vw;
	grid-column-gap: 2vw;
	}
	.grid-maze {
		width: 100vw;
		grid-template-columns: 1fr 1fr 1fr 0.915fr 1fr 1fr 1fr;
	}
	.maze-42 i,
	 .maze-52 i,
	 .maze-62 i,
	 .maze-63 i,
	 .maze-64 i,
	 .maze-54 i,
	 .maze-34 i,
	 .maze-44 i,
	 .maze-24 i,
	 .maze-25 i,
	 .maze-26 i,
	 .maze-36 i,
	 .maze-46 i,
	 .maze-56 i,
	 .maze-66 i,
	 .maze-41 i,
	 .maze-12 i,
	 .maze-22 i {
	 	color: #1E254A;
	 	text-align: center;
	 	vertical-align: middle;
	 	line-height: 14.28vw;
	 	font-size: 25px;
	 }

	 .overlay-item-p {
	font-size: 50px;
	border-radius: 500px;
	background-color: #D6FFF6;
	color: #1E254A;
	margin: 0 auto;
	height: 250px;
	width: 250px;
	align-content: center;
	line-height: 250px;
	-webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	}
	.overlay-item-p a {
		font-size: 25vh;
	}

}

.lock:hover .fa-heart:before {
    content: "\f21e";
}


/* MAZE */

.grid-maze {
	border-top: 10px solid #D6FFF6;
	display: grid;
	grid-template-areas:
	"11 21 31 41 51 61 71"
	"12 22 32 42 52 62 72"
	"13 23 33 43 53 63 73"
	"14 24 34 44 54 64 74"
	"15 25 35 45 56 65 75"
	"16 26 36 46 56 66 76"
	"17 27 37 47 57 67 77";

	height: auto;
	width: 100vw;
	overflow: hidden;
	background-color: #1E254A;
	z-index: 0;
	position: relative;
	grid-template-rows: 14.28vw 14.28vw 14.28vw 14.28vw 14.28vw 14.28vw 14.28vw;
	grid-template-columns: 1fr 1fr 1fr 0.8fr 1fr 1fr 1fr;



}

	.maze-11 {
	grid-area: "11";
	background-color: #1E254A;
	margin-left: 0;

	 }
	.maze-21 {
	grid-area: "21";
	background-color: #1E254A; }
	.maze-31 {
	grid-area: "31";
	background-color: #1E254A; }
	.maze-41 {
	grid-area: "41";
	background-color: #D6FFF6; }
	.maze-51 {
	grid-area: "51";
	background-color: #D6FFF6;
	position: relative;
	z-index: 1;
	 }
	 .overlap-51 {
		position: absolute;
		background-color: #1E254A;
		border-radius: 0 0 0 25px;
		z-index: 2;
		width: 100%;
		height: 100%;
	}
	.maze-61 {
	grid-area: "61";
	background-color: #1E254A; }
	.maze-71 {
	grid-area: "71";
	background-color: #1E254A; 
	margin-right: 0;}

	.maze-12 {
	grid-area: "12";
	background-color: #1E254A; 
}
	.maze-22 {
	grid-area: "22";
	background-color: #D6FFF6;
	border-radius: 0 100% 100% 100%; }
	.maze-32 {
	grid-area: "32";
	background-color: #1E254A; }
	.maze-42 {
	grid-area: "42";
	background-color: #D6FFF6;
	border-radius: 0 0 0 25px ;
	 }
	 .maze-42,
	 .maze-52,
	 .maze-62,
	 .maze-63,
	 .maze-64,
	 .maze-54,
	 .maze-34,
	 .maze-44,
	 .maze-24,
	 .maze-25,
	 .maze-26,
	 .maze-36,
	 .maze-46,
	 .maze-56,
	 .maze-66,
	 .maze-41,
	 .maze-22  {
	 	color: #1E254A;
	 	text-align: center;
	 	vertical-align: middle;
	 	line-height: 14.28vw;
	 	font-size: 35px;
	 }
	.maze-52 {
	grid-area: "52";
	background-color: #D6FFF6;
	 }
	.maze-62 {
	grid-area: "62";
	background-color: #D6FFF6;
	border-radius: 0 25px 0 0 ; }
	.maze-72 {
	grid-area: "72";
	background-color: #1E254A; }

	.maze-13 {
	grid-area: "13";
	background-color: #1E254A; }
	.maze-23 {
	grid-area: "23";
	background-color: #1E254A; }
	.maze-33 {
	grid-area: "33";
	background-color: #1E254A; }
	.maze-43 {
	grid-area: "43";
	background-color: #1E254A; }
	.maze-53 {
	grid-area: "53";
	background-color: #D6FFF6; 
	
	position: relative;
	z-index: 1;}

	.overlap-53 {
		position: absolute;
		background-color: #1E254A;;
		border-radius: 0 25px 25px 0;
		z-index: 2;
		width: 100%;
		height: 100%;
	}

	.maze-63 {
	grid-area: "63";
	background-color: #D6FFF6; }
	.maze-73 {
	grid-area: "73";
	background-color: #1E254A; }

	.maze-14 {
	grid-area: "14";
	background-color: #1E254A;
	 }
	.maze-24 {
	grid-area: "24";
	background-color: #D6FFF6;
	border-radius: 25px 0 0 0 ;
	  }
	.maze-34 {
	grid-area: "34";
	background-color: #D6FFF6;
	}
	.maze-44 {
	grid-area: "44";
	background-color: #D6FFF6;
	border-radius: 0 0 0 0 ; }
	.maze-54 {
	grid-area: "54";
	background-color: #D6FFF6; }
	.maze-64 {
	grid-area: "64";
	background-color: #D6FFF6;
	border-radius: 0 0 25px 0 ; }
	.maze-74 {
	grid-area: "74";
	background-color: #1E254A; }

	.maze-15 {
	grid-area: "15";
	background-color: #1E254A; }
	.maze-25 {
	grid-area: "25";
	background-color: #D6FFF6; }
	.maze-35 {
	grid-area: "35";
	background-color: #D6FFF6;;
	position: relative;
	z-index: 1; }
	.overlap-35 {
		position: absolute;
		background-color: #1E254A;
		border-radius: 25px 0 0 25px;
		z-index: 2;
		width: 100%;
		height: 100%;
	}
	.maze-45 {
	grid-area: "45";
	background-color: #1E254A; }
	.maze-55 {
	grid-area: "55";
	background-color: #1E254A; }
	.maze-65 {
	grid-area: "65";
	background-color: #1E254A; }
	.maze-75 {
	grid-area: "75";
	background-color: #1E254A; }

	.maze-16 {
	grid-area: "16";
	background-color: #1E254A;	 }
	.maze-26 {
	grid-area: "26";
	background-color: #D6FFF6;
	border-radius: 0 0 0 25px ; }
	.maze-36 {
	grid-area: "36";
	background-color: #D6FFF6;
	}
	.maze-46 {
	grid-area: "46";
	background-color: #D6FFF6; }
	.maze-56 {
	grid-area: "56";
	background-color: #D6FFF6; }
	.maze-66 {
	grid-area: "66";
	background-color: #D6FFF6;
	border-radius: 0 25px 25px 0 ; }
	.maze-76 {
	grid-area: "76";
	background-color: #1E254A; }


