* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Monoton', cursive;
}

.nav {
	width: 100%;
	height: 70px;
	background-color: #1E254A;
}
.nav i {
	font-size: 130%;
	color: #D6FFF6;
}

.closeBtn {
	background-color: #D6FFF6;
	width: 100%;
	height: 50px;
	color: #D6FFF6;
	margin-top: -25px;

}


.closeBtn a {
	color: #ffffff;
	margin: 0 auto;
	float: left;
	font-size: 250%;
	padding: 0 10px 0 10px;
}
.closeBtn a:hover {
	transition: 0.5s;
	color: #FFFAF0;
}
.menu {
	display: block;
	margin-left: 15px;
	margin-top: 10px;
	font-size: 200%;
	max-height: 40px;
	max-width: 40px;
	float: left;

}
.menu i {
	margin-top: 5px;
	color: #4DCCBD;
}



.logo {

	margin: 0 auto;

}

.nav ul {
	display: block;
	list-style: none;
}
.nav ul li {
	display: inline;
	float: right;
	margin: 5px 10px 5px 10px;
	padding: 10 10px 10 10px;
	height: 60px;
	border-radius: 100%;
	width: 60px;
	position: relative;
}
.nav ul li a {

	text-decoration: none;
	list-style: none;
	line-height: 60px;
	color: #FFFAF0;

}
.nav ul li:hover{
	transition: 0.5s;
	background-color: #FF8484;
	border-radius: 100%;
}
.nav ul li:hover a{
	transition: 0.5s;
	color: #D6FFF6;
	border-radius: 100%;
}
.dropdown i {
	color: #4DCCBD;
	font-size: 250%;
	position: absolute;
	top: 17%;
	left: 17%;
}
.dropdown i:hover {
	color: white;
}

.subnav-mobile {
	display: none;
}

.main {
	height: 200vh;
	background-color: #1E254A;
	width: 100%;
	overflow: hidden;
	margin-top: -20px;
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #D6FFF6;
    overflow: hidden;
    transition: 0.8s;
}



.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-row-gap: 20px;
}

.overlay a {
	color: inherit;
    padding: 8px;
    text-decoration: none;
	list-style: none;
    font-size: 4vw;
    display: block;
    transition: 0.5s;
	text-align: center;
	vertical-align: middle;
}

.overlay-item-1 {
	border-radius: 100px 0 0 100px;
	background-color: #FF8484;
	color: #D6FFF6;
	margin: 0 0 0 25px;
	max-height: 150px;
	line-height: 150px;
	-webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
}
.overlay-item-2 {
	border-radius: 100px;
	background-color: #4DCCBD;
	color: #1E254A;
	margin: 0 25px 0 25px;
	max-height: 150px;
	line-height: 150px;
	-webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
}
.overlay-item-3 {
	border-radius: 0 100px 100px 0;
	background-color: #1E254A;
	color: #4DCCBD;
	margin: 0 25px 0 0;
	max-height: 150px;
	line-height: 150px;
	-webkit-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.75);

}
.overlay a:hover, .overlay a:focus {
    opacity: 0.5;
}

.overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 35px;
    font-size: 60px;
	color: #4DCCBD;

}

.grid-rabbit {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 150vh;
	height: 150vh;
	overflow: hidden;
	width: 100vw;
	grid-column-gap: 3vw;
}
.grid-rabbit-item-1 {
	background-color: #D6FFF6;
	margin-top: 50px;
	border-radius: 0 500px 0 0;
	position: relative;
	transition: 0.8s;
	transition-timing-function: ease-in-out;

}
.grid-rabbit-item-1 a{
	margin-top: 75px;
	position: absolute;
	color: #1E254A;
	font-size: 4vw;
	text-decoration: none;
	list-style: none;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.grid-rabbit-item-1:hover {
		border-radius: 15px;
		margin-top: 50px;
		transition: 0.5s;
}
.grid-rabbit-item-1 p,
.grid-rabbit-item-2 p,
.grid-rabbit-item-3 p,
.grid-rabbit-item-4 p,
.grid-rabbit-item-5 p,
.grid-rabbit-item-6 p,
.grid-rabbit-item-7 p

 {

	color: #1E254A;
	font-size: 3vw;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	padding-top: 160px;
	writing-mode: vertical-rl;
	text-orientation: upright;
}
.grid-rabbit-item-1 a:hover,
.grid-rabbit-item-7 a:hover{
	color: #FF8484;
}
.grid-rabbit-item-2 {
	background-color: #4DCCBD;
	margin-top: 125px;
	border-radius: 500px 500px 0 0;
	position: relative;
	transition: 0.8s;
	transition-timing-function: ease-in-out;

}
.grid-rabbit-item-2 a{
	margin-top: 75px;
	position: absolute;
	color: #1E254A;
	font-size: 5vw;
	text-decoration: none;
	list-style: none;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.grid-rabbit-item-2 a:hover,
.grid-rabbit-item-6 a:hover{
	color: #D6FFF6;
}
.grid-rabbit-item-2:hover {
		border-radius: 15px;
		margin-top: 50px;
		transition: 0.5s;
}
.grid-rabbit-item-3 {
	background-color: #FF8484;
	margin-top: 175px;
	border-radius: 500px 500px 0 0;
	position: relative;
	transition: 0.8s;
	transition-timing-function: ease-in-out;
}
.grid-rabbit-item-3:hover {
		border-radius: 15px;
		margin-top: 50px;
		transition: 0.5s;
}
.grid-rabbit-item-3 a{
	margin-top: 75px;
	position: absolute;
	color: #1E254A;
	font-size: 5vw;
	text-decoration: none;
	list-style: none;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.grid-rabbit-item-3 a:hover,
.grid-rabbit-item-5 a:hover{
	color: #4DCCBD;
}
.grid-rabbit-item-4 {
	background-color: #D6FFF6;
	margin-top: 225px;
	border-radius: 500px 500px 0 0;
	position: relative;
	transition: 0.8s;
	transition-timing-function: ease-in-out;

}
.grid-rabbit-item-4 a{
	margin-top: 75px;
	position: absolute;
	color: #1E254A;
	font-size: 5vw;
	text-decoration: none;
	list-style: none;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.grid-rabbit-item-4 a:hover{
	color: #FF8484;
}
.grid-rabbit-item-4:hover {
		border-radius: 15px;
		margin-top: 50px;
		transition: 0.5s;
		transition-timing-function: ease;
}
.grid-rabbit-item-5 {
	background-color: #FF8484;
	margin-top: 175px;
	border-radius: 500px 500px 0 0;
	position: relative;
	transition: 0.8s;
	transition-timing-function: ease-in-out;

}
.grid-rabbit-item-5:hover {
		border-radius: 15px;
		margin-top: 50px;
		transition: 0.5s;
}
.grid-rabbit-item-5 a{
	margin-top: 75px;
	position: absolute;
	color: #1E254A;
	font-size: 5vw;
	text-decoration: none;
	list-style: none;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.grid-rabbit-item-6 {
	background-color: #4DCCBD;
	margin-top: 125px;
	border-radius: 500px 500px 0 0;
	position: relative;
	transition: 0.8s;
	transition-timing-function: ease-in-out;

}
.grid-rabbit-item-6:hover {
		border-radius: 15px;
		margin-top: 50px;
		transition: 0.5s;
}
.grid-rabbit-item-6 a{
	margin-top: 75px;
	position: absolute;
	color: #1E254A;
	font-size: 5vw;
	text-decoration: none;
	list-style: none;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.grid-rabbit-item-7 {
	background-color: #D6FFF6;
	margin-top: 50px;
	border-radius: 500px 0 0 0;
	position: relative;
	transition: 0.8s;
	transition-timing-function: ease-in-out;

}
.grid-rabbit-item-7:hover {
		border-radius: 15px;
		margin-top: 50px;
		transition: 0.5s;

}
.grid-rabbit-item-7 a{
	margin-top: 75px;
	position: absolute;
	color: #1E254A;
	font-size: 5vw;
	text-decoration: none;
	list-style: none;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

.rabbit-4-text,
.rabbit-2-text,
.rabbit-3-text {
	display: none;
	margin-top: 50px;
	height: 500px;
	width: 100%;
	text-align: center;
	vertical-align: middle;

}
.rabbit-4-text h1,
.rabbit-2-text h1,
.rabbit-3-text {
	padding: 5px 0 5px 0;
	color: #1E254A;
}
.rabbit-4-text h3,
.rabbit-2-text h3,
.rabbit-3-text h3, {
	color: #1E254A;
}

.rabbit-4-text i {
	color: #FF8484;
	font-size: 5vw;

	text-align: center;
}
.rabbit-2-text i {
	color: #D6FFF6;
	font-size: 5vw;

	text-align: center;
}
.rabbit-3-text i {
	color: #4DCCBD;
	font-size: 5vw;

	text-align: center;
}


/* MEDIAS QUERIES */
@media only screen and (max-width: 700px)  {
	.menu {
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	height: 60px;
	width: 70px;
	float: left;
	}
	

}
